to_Hassio-NodeRed/NodeRed-InkplateCalendar.json
[{"id":"4d8b80f3.45821","type":"tab","label":"Calendar to inkplate","disabled":false,"info":""},{"id":"9fddf488.add938","type":"google","z":"4d8b80f3.45821","name":"Google Calendar","google":"2085ff41.d3032","api":"calendar:v3","operation":"events.list","x":350,"y":420,"wires":[["107d4f78.54d291"]]},{"id":"49348f58.c710f","type":"inject","z":"4d8b80f3.45821","name":"Run every 15 minutes","props":[{"p":"payload"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":260,"wires":[["26f9cab8.297fb6"]]},{"id":"42913507.e5cbec","type":"function","z":"4d8b80f3.45821","name":"Create Calendar API Request","func":"var timeStart = msg.payload.substring(0,10) + \"T00:00:00-08:00\";\nvar timeEnd = msg.payload.substring(0,10) + \"T23:59:59-08:00\";\nvar json = {\n    \"calendarId\":\"calendarid@gmail.com\",\n    \"timeMin\":timeStart,\n    \"timeMax\":timeEnd,\n    \"timeZone\":\"America/Los_Angeles\",\n    \"singleEvents\":\"true\",\n    \"orderBy\":\"startTime\"\n};\n\n// https://developers.google.com/calendar/v3/reference/events/list\n\nmsg.payload = json;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":380,"wires":[["9fddf488.add938"]]},{"id":"9d82b0d8.57bbd","type":"split","z":"4d8b80f3.45821","name":"For Each Event","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":840,"y":380,"wires":[["5c6dbd82.675a14"]]},{"id":"107d4f78.54d291","type":"function","z":"4d8b80f3.45821","name":"Get Events","func":"var items = msg.payload.items;\nmsg.payload = items;\nmsg.formattedEvents = [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":460,"wires":[["9d82b0d8.57bbd","ade0283a.eca998","6b4932a9.02fdac","34222193.f3715e","4d3e55d1.b4c06c","ed2fd7e4.6ae1b8","9e4cfdc3.4cc26"]]},{"id":"5c6dbd82.675a14","type":"function","z":"4d8b80f3.45821","name":"Get # of Events","func":"var count = msg.parts.count\nmsg.payload = count\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":420,"wires":[["9dbf3879.aaa198"]]},{"id":"26f9cab8.297fb6","type":"moment","z":"4d8b80f3.45821","name":"Create a Timestamp","topic":"","input":"","inputType":"msg","inTz":"Z","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"","locale":"C","output":"","outputType":"msg","outTz":"America/Los_Angeles","x":340,"y":300,"wires":[["de53d039.ca1e","f22e1e82.428b3","4dc9f4f2.e4078c"]]},{"id":"de53d039.ca1e","type":"moment","z":"4d8b80f3.45821","name":"","topic":"","input":"","inputType":"msg","inTz":"Z","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd h:mm:ss a","locale":"C","output":"","outputType":"msg","outTz":"America/Los_Angeles","x":860,"y":200,"wires":[["95c39e32.83564"]]},{"id":"f22e1e82.428b3","type":"moment","z":"4d8b80f3.45821","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Los_Angeles","adjAmount":0,"adjType":"days","adjDir":"add","format":"dddd","locale":"C","output":"","outputType":"msg","outTz":"America/Los_Angeles","x":860,"y":260,"wires":[["fe85b443.68dca8"]]},{"id":"fe85b443.68dca8","type":"function","z":"4d8b80f3.45821","name":"Uppercase","func":"msg.payload = msg.payload.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":300,"wires":[["4626f18d.70935"]]},{"id":"47dad1bb.80db9","type":"comment","z":"4d8b80f3.45821","name":"Set global calendar data","info":"","x":1130,"y":160,"wires":[]},{"id":"95c39e32.83564","type":"ha-entity","z":"4d8b80f3.45821","name":"Last Updated","server":"2a3be466.8534ec","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"calendar_last_updated"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1100,"y":200,"wires":[[]]},{"id":"9dbf3879.aaa198","type":"ha-entity","z":"4d8b80f3.45821","name":"Event Count","server":"2a3be466.8534ec","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"calendar_count"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1090,"y":320,"wires":[[]]},{"id":"4626f18d.70935","type":"ha-entity","z":"4d8b80f3.45821","name":"Day of the Week in Caps","server":"2a3be466.8534ec","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"calendar_day_of_the_week"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1130,"y":260,"wires":[[]]},{"id":"f958b109.ca5e","type":"function","z":"4d8b80f3.45821","name":"Create a title msg","func":"//msg.payload = msg.payload.toUpperCase();\n\nmsg.payload = {\n    path: \"sensor.calendar_event_\" + (msg.index + 1) +\"_title\",\n    payload: msg.payload.summary\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":500,"wires":[["da6e3b35.0d5258"]]},{"id":"da6e3b35.0d5258","type":"function","z":"4d8b80f3.45821","name":"reconstruct array","func":"var mapResult = msg.mapResult();\nmapResult.result[msg.index] = msg.payload;\nmapResult.countdown -= 1;\nif (0 === mapResult.countdown) {\n  return {\n    payload: mapResult.result\n  };\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":500,"wires":[["907db1d0.56b4a"]]},{"id":"ade0283a.eca998","type":"function","z":"4d8b80f3.45821","name":"split elements","func":"var mapResult = {\n  countdown: msg.payload.length,\n  result: msg.payload.map(function(){})\n};\nreturn [msg.payload.map(function(element, index) {\n  return {\n    payload: element,\n    index: index,\n    mapResult: function() {\n      return mapResult;\n    }\n  };\n})];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":500,"wires":[["f958b109.ca5e"]]},{"id":"907db1d0.56b4a","type":"split","z":"4d8b80f3.45821","name":"foreach","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1480,"y":500,"wires":[["bfefeb05.24e848"]]},{"id":"bfefeb05.24e848","type":"function","z":"4d8b80f3.45821","name":"format msg","func":"var foo = JSON.stringify({\"state\": msg.payload.payload});\nreturn {path: msg.payload.path, payload: foo};\n\n// should be {\"state\":\"Derek Justin Fun Time\"}\n\n//return {path: msg.payload.path, payload: msg.payload.payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":500,"wires":[["fe017c6.ceac08"]]},{"id":"29ba4e0d.264bf2","type":"function","z":"4d8b80f3.45821","name":"Create a start time msg","func":"var payloadTemp;\nif (msg.payload.start.dateTime) {\n    payloadTemp = msg.payload.start.dateTime;\n} else if (msg.payload.start.date) {\n    payloadTemp = msg.payload.start.date;\n} else {\n    payloadTemp = 0\n}\n\nmsg.payload = {\n    path: \"sensor.calendar_event_\" + (msg.index + 1) +\"_start\",\n    payload: payloadTemp\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":540,"wires":[["10257dff.670042"]]},{"id":"fa48c2d8.40112","type":"function","z":"4d8b80f3.45821","name":"Create a end time msg","func":"var payloadTemp;\nif (msg.payload.end.dateTime) {\n    payloadTemp = msg.payload.end.dateTime;\n} else if (msg.payload.end.date) {\n    payloadTemp = msg.payload.end.date;\n} else {\n    payloadTemp = 0\n}\n\nmsg.payload = {\n    path: \"sensor.calendar_event_\" + (msg.index + 1) +\"_end\",\n    payload: payloadTemp\n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":580,"wires":[["8fb42451.970ec8"]]},{"id":"ee24167b.bfc2b8","type":"function","z":"4d8b80f3.45821","name":"reconstruct array","func":"var mapResult = msg.mapResult();\nmapResult.result[msg.index] = msg.payload;\nmapResult.countdown -= 1;\nif (0 === mapResult.countdown) {\n  return {\n    payload: mapResult.result\n  };\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":540,"wires":[["26cb6866.28a228"]]},{"id":"26cb6866.28a228","type":"split","z":"4d8b80f3.45821","name":"foreach","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1480,"y":540,"wires":[["b4f5aaf8.806b88"]]},{"id":"b4f5aaf8.806b88","type":"function","z":"4d8b80f3.45821","name":"format msg","func":"\nvar foo = JSON.stringify({\"state\": msg.payload.payload});\nreturn {path: msg.payload.path, payload: foo};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":540,"wires":[["fe017c6.ceac08"]]},{"id":"2381d364.5b2fbc","type":"function","z":"4d8b80f3.45821","name":"reconstruct array","func":"var mapResult = msg.mapResult();\nmapResult.result[msg.index] = msg.payload;\nmapResult.countdown -= 1;\nif (0 === mapResult.countdown) {\n  return {\n    payload: mapResult.result\n  };\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":580,"wires":[["a986aa7e.3ba9f8"]]},{"id":"a986aa7e.3ba9f8","type":"split","z":"4d8b80f3.45821","name":"foreach","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1480,"y":580,"wires":[["96f8a43a.683768"]]},{"id":"96f8a43a.683768","type":"function","z":"4d8b80f3.45821","name":"format msg","func":"var foo = JSON.stringify({\"state\": msg.payload.payload});\nreturn {path: msg.payload.path, payload: foo};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":580,"wires":[["fe017c6.ceac08"]]},{"id":"6b4932a9.02fdac","type":"function","z":"4d8b80f3.45821","name":"split elements","func":"var mapResult = {\n  countdown: msg.payload.length,\n  result: msg.payload.map(function(){})\n};\nreturn [msg.payload.map(function(element, index) {\n  return {\n    payload: element,\n    index: index,\n    mapResult: function() {\n      return mapResult;\n    }\n  };\n})];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":540,"wires":[["29ba4e0d.264bf2"]]},{"id":"34222193.f3715e","type":"function","z":"4d8b80f3.45821","name":"split elements","func":"var mapResult = {\n  countdown: msg.payload.length,\n  result: msg.payload.map(function(){})\n};\nreturn [msg.payload.map(function(element, index) {\n  return {\n    payload: element,\n    index: index,\n    mapResult: function() {\n      return mapResult;\n    }\n  };\n})];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":580,"wires":[["fa48c2d8.40112"]]},{"id":"277c72f1.07206e","type":"function","z":"4d8b80f3.45821","name":"Create a location msg","func":"if (typeof msg.payload.location == 'undefined') {\n    msg.payload.location = \"\";\n}\n\nmsg.payload = {\n    path: \"sensor.calendar_event_\" + (msg.index + 1) +\"_location\",\n    payload: msg.payload.location\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":620,"wires":[["387fa257.0b717e"]]},{"id":"387fa257.0b717e","type":"function","z":"4d8b80f3.45821","name":"reconstruct array","func":"var mapResult = msg.mapResult();\nmapResult.result[msg.index] = msg.payload;\nmapResult.countdown -= 1;\nif (0 === mapResult.countdown) {\n  return {\n    payload: mapResult.result\n  };\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":620,"wires":[["3f741dd5.0891c2"]]},{"id":"ed2fd7e4.6ae1b8","type":"function","z":"4d8b80f3.45821","name":"split elements","func":"var mapResult = {\n  countdown: msg.payload.length,\n  result: msg.payload.map(function(){})\n};\nreturn [msg.payload.map(function(element, index) {\n  return {\n    payload: element,\n    index: index,\n    mapResult: function() {\n      return mapResult;\n    }\n  };\n})];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":620,"wires":[["277c72f1.07206e"]]},{"id":"3f741dd5.0891c2","type":"split","z":"4d8b80f3.45821","name":"foreach","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1480,"y":620,"wires":[["d9eb6e17.87ae9"]]},{"id":"d9eb6e17.87ae9","type":"function","z":"4d8b80f3.45821","name":"format msg","func":"var foo = JSON.stringify({\"state\": msg.payload.payload});\nreturn {path: msg.payload.path, payload: foo};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":620,"wires":[["fe017c6.ceac08"]]},{"id":"f8d6cc3c.9ac23","type":"function","z":"4d8b80f3.45821","name":"Is event over?","func":"// if it's not an all-day event\nvar payloadTemp;\nif (msg.payload.start.dateTime) {\n    payloadTemp = msg.payload.start.dateTime;\n} else if (msg.payload.start.date) {\n    payloadTemp = msg.payload.start.date;\n} else {\n    payloadTemp = 0\n}\n\n// if the date string is just the date w/no time\nvar allDayTest = false;\nif (!payloadTemp.includes('T')) {\n    allDayTest = true;\n}\n\nif (!allDayTest){\n    \n}\nvar endTime = new Date(msg.payload.end.date);\nvar nowTime = Date.now();\nvar msgPayload = \"off\";\n\nif (endTime < nowTime) {\n    msgPayload = \"on\";\n}\n\nmsg.payload = {\n    path: \"input_boolean.calendar_event_\" + (msg.index + 1) +\"_over\",\n    payload: msgPayload\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":660,"wires":[["53b8849.0739f7c"]]},{"id":"53b8849.0739f7c","type":"function","z":"4d8b80f3.45821","name":"reconstruct array","func":"var mapResult = msg.mapResult();\nmapResult.result[msg.index] = msg.payload;\nmapResult.countdown -= 1;\nif (0 === mapResult.countdown) {\n  return {\n    payload: mapResult.result\n  };\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":660,"wires":[["73eb1d1c.986414"]]},{"id":"73eb1d1c.986414","type":"split","z":"4d8b80f3.45821","name":"foreach","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1480,"y":660,"wires":[["cd258f4.f91b47"]]},{"id":"cd258f4.f91b47","type":"function","z":"4d8b80f3.45821","name":"format msg","func":"var foo = JSON.stringify({\"state\": msg.payload.payload});\nreturn {path: msg.payload.path, payload: foo};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":660,"wires":[["fe017c6.ceac08"]]},{"id":"9e4cfdc3.4cc26","type":"function","z":"4d8b80f3.45821","name":"split elements","func":"var mapResult = {\n  countdown: msg.payload.length,\n  result: msg.payload.map(function(){})\n};\nreturn [msg.payload.map(function(element, index) {\n  return {\n    payload: element,\n    index: index,\n    mapResult: function() {\n      return mapResult;\n    }\n  };\n})];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":660,"wires":[["f8d6cc3c.9ac23"]]},{"id":"102a5506.59485b","type":"function","z":"4d8b80f3.45821","name":"Is the event all-day?","func":"var payloadTemp;\nif (msg.payload.start.dateTime) {\n    payloadTemp = msg.payload.start.dateTime;\n} else if (msg.payload.start.date) {\n    payloadTemp = msg.payload.start.date;\n} else {\n    payloadTemp = 0\n}\n\n// if the date string is just the date w/no time\nvar msgPayload = \"off\";\nif (!payloadTemp.includes('T')) {\n    msgPayload = \"on\";\n}\nmsg.payload = {\n    path: \"input_boolean.calendar_event_\" + (msg.index + 1) +\"_allday\",\n    payload: msgPayload\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":700,"wires":[["4ea92782.50e7b8"]]},{"id":"4ea92782.50e7b8","type":"function","z":"4d8b80f3.45821","name":"reconstruct array","func":"var mapResult = msg.mapResult();\nmapResult.result[msg.index] = msg.payload;\nmapResult.countdown -= 1;\nif (0 === mapResult.countdown) {\n  return {\n    payload: mapResult.result\n  };\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":700,"wires":[["86aabdb0.cd16"]]},{"id":"86aabdb0.cd16","type":"split","z":"4d8b80f3.45821","name":"foreach","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1480,"y":700,"wires":[["231445d7.0c633a"]]},{"id":"231445d7.0c633a","type":"function","z":"4d8b80f3.45821","name":"format msg","func":"var foo = JSON.stringify({\"state\": msg.payload.payload});\nreturn {path: msg.payload.path, payload: foo};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":700,"wires":[["fe017c6.ceac08"]]},{"id":"4d3e55d1.b4c06c","type":"function","z":"4d8b80f3.45821","name":"split elements","func":"var mapResult = {\n  countdown: msg.payload.length,\n  result: msg.payload.map(function(){})\n};\nreturn [msg.payload.map(function(element, index) {\n  return {\n    payload: element,\n    index: index,\n    mapResult: function() {\n      return mapResult;\n    }\n  };\n})];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":700,"wires":[["102a5506.59485b"]]},{"id":"fe017c6.ceac08","type":"ha-api","z":"4d8b80f3.45821","name":"Hit up the Hassio API","server":"2a3be466.8534ec","debugenabled":true,"protocol":"http","method":"post","path":"states/{{path}}","data":"{{{payload}}}","dataType":"json","location":"payload","locationType":"msg","responseType":"json","x":1860,"y":200,"wires":[[]]},{"id":"10257dff.670042","type":"moment","z":"4d8b80f3.45821","name":"","topic":"","input":"payload.payload","inputType":"msg","inTz":"Z","adjAmount":0,"adjType":"days","adjDir":"add","format":"hh:mm A","locale":"C","output":"payload.payload","outputType":"msg","outTz":"America/Los_Angeles","x":1180,"y":860,"wires":[["ee24167b.bfc2b8"]]},{"id":"8fb42451.970ec8","type":"moment","z":"4d8b80f3.45821","name":"","topic":"","input":"payload.payload","inputType":"msg","inTz":"Z","adjAmount":0,"adjType":"days","adjDir":"add","format":"hh:mm A","locale":"C","output":"payload.payload","outputType":"msg","outTz":"America/Los_Angeles","x":1180,"y":900,"wires":[["2381d364.5b2fbc"]]},{"id":"785a0db5.e07bf4","type":"comment","z":"4d8b80f3.45821","name":"Set individual calendar data","info":"","x":1880,"y":160,"wires":[]},{"id":"4dc9f4f2.e4078c","type":"moment","z":"4d8b80f3.45821","name":"Subtract 8 hours because i'm lazy","topic":"","input":"","inputType":"msg","inTz":"Z","adjAmount":"8","adjType":"hours","adjDir":"subtract","format":"","locale":"C","output":"","outputType":"msg","outTz":"America/Los_Angeles","x":380,"y":340,"wires":[["42913507.e5cbec"]]},{"id":"2085ff41.d3032","type":"google-conn","name":"Google","key":"{\n  \"type\": \"service_account\",\n  \"project_id\": \"hanodered2\",\n  \"private_key_id\": \"privateKeyID\",\n  \"private_key\": \"privateKey\",\n  \"client_email\": \"googleApiEmail@googleAppName.iam.gserviceaccount.com\",\n  \"client_id\": \"clientID\",\n  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n  \"token_uri\": \"https://oauth2.googleapis.com/token\",\n  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/googleApiEmail@googleAppName.iam.gserviceaccount.com\"\n}","scopes":"https://www.googleapis.com/auth/calendar.events"},{"id":"2a3be466.8534ec","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
